@import '/node_modules/reset-css/sass/reset';
@import './themes.scss';
@import './page.scss';
@import './mixins.scss';
@import './variables.scss';
@import './fonts.scss';

html {
    max-width: 100%;
    overflow-x: hidden;
    // overflow-y: hidden;


}

body {
    height: 100%;
    font-family: 'OpenSans';
    font-weight: 400;

    .el-loading-mask {
        height: 100vh;


        // background-color: rgba(236, 236, 236, 0.7)
        background-color: map-get(map-get($theme-map, 'dark'), 'loading-mask');
    }

    .theme-dark {
        @include scrollBarDark;
    }

    .theme-light {
        @include scrollBarLight;
    }


}

.app {
    height: 100%;
    min-height: 100vh;

    @include themes {
        background: themeColor(bg-primary);
        color: themeColor(txt-primary);
    }
}

a {
    color: black;
    text-decoration: none;
}

p,
span,
a,
h1,
h2,
h3,
h4,
h5 {
    @include themes {
        color: themeColor(txt-primary);
    }
}