@import 'src/assets/style/themes';
@import 'src/assets/style/variables';

.page-footer {
    width: 100%;
    height: $page-footer-height;
    position: fixed;
    bottom: 0;

    @include themes {
        background-color: themeColor(bg-secondary);
    }

}